//  colors

$color-white-default: #ffffff;
$color-black-default: #262633;
$color-black-10: #00000010;
$color-gray: #808080;
$color-cardinal: #bf2738;
$color-brick-red: #cc2a3c;
$color-bright-red: #991f2d;
$color-ghost: #c9c9cf;
$color-storm-gray: #797986;
$color-white-smoke: #f5f5f5;
$color-whisper: #e6e6e6;


//  fonts

$font-roadradio: "Roadradio", "Arial", sans-serif;
