@use '../variables.scss'as *;
@use '../mixins.scss'as *;

.branches {
  padding-top: 90px;
  padding-bottom: 100px;

  @include vp-1023 {
    padding-top: 59px;
    padding-bottom: 79px;
  }

  @include vp-767 {
    padding-top: 30px;
    padding-bottom: 60px;
  }
}

.branches__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @include vp-1023 {
    gap: 10px;
  }
}


.branches__card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 310px;
  padding: 33px 10px 40px 22px;
  background-color: $color-white-smoke;
  border-radius: 20px;

  @include vp-1023 {
    width: 350px;
    padding-top: 30px;
  }

  @include vp-767 {
    width: 288px;
    padding-left: 13px;
    padding-top: 33px;
  }
}

[data-size="big"] {
  width: 630px;

  @include vp-1023 {
    width: 710px;
    height: 270px;
  }

  @include vp-767 {
    width: 288px;
    height: 395px;
  }
}

.branches__card-title {
  font-family: $font-roadradio;
  font-size: 2.6em;
  line-height: 110%;
  margin: 0 0 17px;

}

.branches__card-phones {

  margin-bottom: 8px;

  &--small {
    width: 68%;

    @include vp-1023 {
      width: 55%;
      margin-bottom: 10px;
    }

    @include vp-767 {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  & span {
    font-size: 1.9rem;
    line-height: 150%;
  }

  &--big {

    @include vp-767 {
      display: flex;
      flex-direction: column;
    }
  }

}

.branches__card-fax {
  font-size: 1.9rem;
  line-height: 150%;
  margin: 0;
  transform: translateY(-8px);

  @include vp-1023 {
    margin: 0 0 5px;
  }

  @include vp-767 {
    width: 84%;
  }
}

.branches__card-address {
  font-size: 1.4rem;
  line-height: 140%;
  color: $color-storm-gray;
  margin: 0 0 8px;

  @include vp-1023 {
    width: 85%;
    margin: 0 0 5px;
  }
}

.branches__card-link {
  font-size: 1.4rem;
  line-height: 140%;
  color: $color-cardinal;
  margin: 0 0 20px;
  transition: opacity 0.35 ease;

  &:hover {
    opacity: 0.6;
  }
}

.branches__card-operating {
  display: flex;
  align-items: flex-end;
  font-size: 1.4rem;
  line-height: 140%;
  margin: 0;
  flex-grow: 1;
}
