@use '../mixins.scss' as *;
@use '../variables.scss' as *;

.header {
  padding: 11px 0 13px;

  @include vp-1319 {
    padding: 14px 0;
  }

  @include vp-767 {
    padding: 10px 0 15px;
  }
}

.header__wrapper {
  display: grid;
  grid-template-columns: 1fr 8.21% 12.01% 14.34% 19.4%;
  align-items: center;

  @include vp-1319 {
    grid-template-columns: 1fr 8.21% 10.5% 18% 15%;
  }

  @include vp-1023 {
    grid-template-columns: 1fr 90px 17.83% 25.14%;
  }

  @include vp-767 {
    grid-template-columns: 1fr 67px 1fr;
  }
}

.header__btn--menu svg {

  @include vp-1319 {
    width: 23px;
  }
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
}

.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 59px;
  align-items: center;
  gap: 46px;

  @include vp-1319 {
    margin-left: 48px;
    padding-bottom: 5px;
    gap: 30px
  }

  @include vp-767 {
    display: none;
  }
}

.header__nav-item {

  &:last-child {
    @include vp-1023 {
      display: none;
    }
  }

  & a {
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: $color-black-default;

    @include vp-1319 {
      font-size: 1.4rem;
      line-height: 140%;
    }
  }
}

.header__logo img {
  width: 100%;
  object-fit: contain;

  @include vp-1023 {
    height: 30px;
  }

  @include vp-767 {
    height: 40px;
  }
}

.header__btn {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.header__service {
  display: flex;
  justify-content: flex-end;
  padding-right: 3px;
}

.header__btn--compare,
.header__btn--find {
  color: $color-ghost;
  transition: color 0.35s ease;

  &:last-of-type {
    margin-left: 23px;
  }

  &:hover {
    color: $color-black-default;
  }
}

.header__contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  padding-top: 12px;
  padding-left: 29%;

  @include vp-1319 {
    padding-left: 15%;
  }

  @include vp-1023 {
    padding: 0 0 0 26.5%;
  }

  @include vp-767 {
    display: none;
  }
}

.header__link {
  &--phone {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: $color-black-default;
    margin-bottom: 6px;

    @include vp-1023 {
      margin-bottom: 3px;
    }
  }

  &--email {
    font-family: "Graphik", "Arial", sans-serif;
    font-size: 13px;
    line-height: 120%;
    color: $color-storm-gray;
  }
}

.header__btn--submit {
  font-size: 1.4rem;
  line-height: 100%;
  color: $color-white-default;
  text-transform: uppercase;

  width: 190px;
  height: 52px;
  background-color: $color-cardinal;
  justify-self: flex-end;
  border-radius: 14px;
  transition: background-color 0.3s ease;

  @include vp-1319 {
    width: 100%;
    font-size: 1.2rem;
  }

  @include vp-1023 {
    display: none;
  }

}
