@use '../variables.scss'as *;
@use '../mixins.scss' as *;

.info {
  padding-top: 62px;
  padding-bottom: 66px;

  @include vp-1023 {
    padding-top: 38px;
    padding-bottom: 50px;
  }

  @include vp-767 {
    padding-top: 30px;
  }
}

.info__wrapper {
  display: grid;
  grid-template-columns: 47.05% 1fr;

  @include vp-1023 {
    grid-template-columns: 1fr 49%;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.info__data {
  display: flex;
  flex-direction: column;

  @include vp-767 {
    margin-bottom: 50px;
  }
}

.info__data-phone {
  font-family: $font-roadradio;
  font-size: 3.6rem;
  line-height: 110%;
  color: $color-black-default;

  @include vp-1023 {
    font-size: 2.8rem;
    line-height: 120%;
    margin-bottom: 9px;
  }
}

.info__data-email {
  font-size: 2.5rem;
  line-height: 3rem;
  color: $color-cardinal;
  margin-bottom: 20px;

  @include vp-1023 {
    font-size: 2.5rem;
  }
}

.info__data-title {
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  line-height: 110%;
  color: $color-black-default;
  margin-bottom: 15px;

  @include vp-1023 {
    display: block;
    font-size: 1.4rem;
    line-height: 140%;
    width: 290px;
    margin-bottom: 20px;
  }

  @include vp-767 {
    width: 100%;
  }

  & span {
    margin-bottom: 6px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.info__data-reg,
.info__data-bank,
.info__data-address {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  line-height: 155%;
  color: $color-gray;
}


.info__data-reg {
  margin-bottom: 19px;
}

.info__data-bank {
  margin-bottom: 20px;

  @include vp-1023 {
    width: 250px;
  }

  @include vp-767 {
    width: 90%;
  }
}

.info__data-address {

  @include vp-1023 {
    width: 285px;
  }
  @include vp-767 {
    width: 80%;
  }
}

.info__form {
  justify-self: flex-end;
  width: 100%;
  padding-left: 52px;

  @include vp-1023 {
    padding: 0;
  }

  & h2 {
    font-family: $font-roadradio;
    font-size: 3.6rem;
    line-height: 110%;
    color: $color-black-default;
    margin: 0 0 20px;

    @include vp-1023 {
      font-size: 2.8rem;
      line-height: 120%;
      color: $color-nero;
      margin: 0 0 12px;
    }

    @include vp-767 {
      font-size: 2rem;
      margin: 0 0 11px
    }
  }
}

.info__form-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 20px;

  @include vp-1023 {
    flex-direction: column;
    gap: 11px;
  }
}

[name="name"],
[name="phone"] {
  font-family: "Golos", "Arial", sans-serif;
  font-size: 1.6rem;
  line-height: 100%;
  width: 300px;
  height: 52px;
  background-color: $color-white-smoke;
  border-radius: 14px;
  border: none;
  padding-left: 20px;
  transition: background-color 0.35s ease;

  @include vp-1023 {
    height: 60px;
    width: 100%;;
  }

  &:hover {
    background-color: $color-white-default;
    outline: 2px solid $color-whisper;
  }

  &:focus {
    background-color: $color-white-default;
    outline: 2px solid $color-whisper;
  }
}

[name="message"] {
  font-family: "Golos", "Arial", sans-serif;
  font-size: 1.6rem;
  line-height: 100%;
  padding: 17px 20px 17px;
  padding: 17px 20px 17px;
  width: 100%;
  height: 133px;
  background-color: $color-white-smoke;
  border-radius: 14px;
  border: none;
  padding-left: 20px;
  transition: background-color 0.35s ease;

  @include vp-1023 {
    height: 165px;
  }

  &:hover {
    background-color: $color-white-default;
    outline: 2px solid $color-whisper;
  }

  &:focus {
    background-color: $color-white-default;
    outline: 2px solid $color-whisper;
  }
}

.info__input-placeholder {
  font-size: 16px;
  line-height: 150%;
  position: absolute;
  top: 17px;
  left: 20px;
  pointer-events: none;
  transition: transform 0.35s ease;
}

.info__textarea-placeholder {
  font-size: 16px;
  line-height: 150%;
  position: absolute;
  top: 16px;
  left: 20px;
  pointer-events: none;
  transition: transform 0.35s ease;
}


[name="name"]:hover~label,
[name="phone"]:hover~label,
[name="message"]:hover~label {
  transform: translateY(-20px) scale(0.75);
}

[name="name"]:focus~label,
[name="name"]:not(:placeholder-shown)~label {
  transform: translateY(-20px) scale(0.75);
}

[name="phone"]:focus~label,
[name="phone"]:not(:placeholder-shown)~label {
  transform: translateY(-20px) scale(0.75);
}

[name="message"]:focus~label,
[name="message"]:not(:placeholder-shown)~label {
  transform: translateY(-20px) scale(0.75);
}


.info__input-container {
  position: relative;
}

.info__textarea-container {
  position: relative;
  width: 100%;;
}

.info__form-agreement {
  display: inline-block;
  font-size: 1.3rem;
  line-height: 120%;
  color: $color-gray;
  padding-left: 36px;
  margin-bottom: 31px;
  position: relative;
  cursor: pointer;
  user-select: none;

  @include vp-767 {
    margin-bottom: 21px;
  }

  & span {
    color: $color-black-default;
  }

  &::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: $color-white-smoke;
    top: -4px;
    left: 2px;
    transition: background-color 0.35s ease;

    @include vp-1023 {
      top: 0;
      left: 0;
    }
  }

  &::after {
    content: url("/public/image/icon-check.svg");
    position: absolute;
    top: -2px;
    left: 6px;
    opacity: 0;
    transition: opacity 0.35s ease;
  }
}

.info__form-agreement:hover::before {
  background-color: $color-cardinal;
}

[name="agreement"]:checked~.info__form-agreement::after {
  opacity: 1;
}

[name="agreement"]:checked~.info__form-agreement::before {
  background-color: $color-cardinal;
}

.info__form-button {
  font-size: 1.4rem;
  line-height: 100%;
  color: $color-white-default;

  width: 190px;
  height: 52px;
  background-color: $color-cardinal;
  justify-self: flex-end;
  border-radius: 14px;
  transition: background-color 0.3s ease;
  margin-left: 2px;
}

.info__break {
  display: none;

  @include vp-1023 {
    display: block;
  }
}
