@use './styles/block/header.scss';
@use './styles/fonts.scss';
@use './styles/global.scss';
@use './styles/container.scss';
@use './styles//block/contacts.scss';
@use './styles/ui/btn.scss';
@use './styles/block/info.scss';
@use './styles/block/map.scss';
@use './styles/block/branches.scss';
@use './styles/block/footer.scss';
@use './styles/block/marker.scss';
@use  './styles/block/popup.scss';
